html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

#root {
  flex: 1;
}

body {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
}

body {
  background-color: rgb(142, 165, 241);
}

* {
  outline: solid 1px red;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 2;
}

.header {
  display: flex;
  gap: 10px;
}

/* categories */

.categories {
  display: flex;
  gap: 10px;
}

.header,
.footer {
  background-color: blueviolet;
}

/* DisplayItems styling */

.itemCont {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.dataItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  color: #009688; /* or any color you prefer */
  font-size: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.underPhoto {
  display: flex;
  justify-content: space-between;
}

/* Loading page */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
